<main class="{{styles.layout}}">
    <div class="{{styles.back}}"> {{{back_icon}}} </div>
       <div class="{{styles.content_card}}">
          {{{avatar}}}
           <div class="{{styles.card_title}}"> {{first_name}} </div>
            <div class="{{styles.card_field}}">
                <label class="{{styles.card_field_name}}">Почта</label>
                {{{editemail}}}
           </div>           
           <div class="{{styles.card_field}}">
                <label class="{{styles.card_field_name}}">Логин</label>
                {{{editlogin}}}           
          </div>           
           <div class="{{styles.card_field}}">
                <label class="{{styles.card_field_name}}">Имя</label>
                {{{editfirst_name}}}
           </div>                     
           <div class="{{styles.card_field}}">
                <label class="{{styles.card_field_name}}">Фамилия</label>
                {{{editsecond_name}}}
           </div>                    
           <div class="{{styles.card_field}}">
                <label class="{{styles.card_field_name}}">Телефон</label>
                {{{editphone}}}
           </div>    
           <div class="{{styles.card_footer}}">
           {{{button_exit}}}
           </div>
    </div>
</main>
