<main class="{{styles.layout}}">
    <div class="{{styles.error}}">
        <div class="{{styles.error_name}}">500</div>
        <div class="{{styles.error_comment}}">Мы уже фиксим</div>
            {{{link}}}
    </div>
</main>
