<main class="{{styles.signup_layout}}">
    <div class="{{styles.block}}">
        <div class="{{styles.block_title}}">Регистрация</div>
        <div class="{{styles.block_body}}">
          {{{email}}}
          <div class="{{styles.input__error}}"> {{error_email}}</div>
          {{{login}}}
           <div class="{{styles.input__error}}"> {{error_login}}</div>
          {{{first_name}}}
           <div class="{{styles.input__error}}"> {{error_first_name}}</div>
          {{{second_name}}}
           <div class="{{styles.input__error}}"> {{error_second_name}}</div>
          {{{phone}}}
           <div class="{{styles.input__error}}"> {{error_phone}}</div>
          {{{password}}}
           <div class="{{styles.input__error}}"> {{error_password}}</div>
          {{{repeat_password}}}
           <div class="{{styles.input__error}}"> {{error_repeat_password}}</div>            
        </div>
        <div class="{{styles.block_footer}}">
            {{{signup}}}
            {{{signin}}}
        </div>
    </div>
</main>
