<div class="{{styles.modal}}">
    <div class="{{styles.block}}">
        <div class="{{styles.block_title}}">Добавить пользователя</div>
        <div class="{{styles.block_body}}">
            {{{login}}}
        </div> 
        <div class="{{styles.block_footer}}">
            {{{close}}}
        </div>      
    </div>
</div>