

<main class="{{styles.layout}}">
    <div class="{{styles.block}}">
        <div class="{{styles.block_title}}">Вход</div>
        <div class="{{styles.block_body}}">
                {{{login}}}
                {{{password}}}
        </div> 
        <div class="{{styles.block_footer}}">
            {{{button}}}
            {{{link}}}
        </div>      
    </div>
</main>
