<div class="list_component">
    <a href="#" class="text">
      <div class="component">
        <div class="component_img">
          {{img}}
        </div>
        <div class="component_main">
          <div>{{name}}</div>
          <div>{{message}}</div>
        </div>
        <div class="component_info">          
          <div>{{time}}</div>
          <div>{{new}}</div>
        </div>
      </div>
    </a>
</div>
